<div class="modal fade" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="deleteModalLabel">Delete algorithm {{ object.name }}</h4>
            </div>

            <div class="modal-body">
                <h4>Are you sure you want to delete algorithm <b>{{ object.name }}</b>?</h4>
            </div>

            <div class="modal-footer centered">
                <button type="button" class="btn btn-info" data-dismiss="modal">Return</button>
                <a href="{% url 'algotesting:delete_algo' object.pk %}">
                    <button type="button" class="btn btn-danger">Yes!</button>
                </a>
            </div>
        </div>
    </div>
</div>