<div class="form-style-6" style="max-width: 550px">
<form class="form-horizontal" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        <div class="col col-lg-4">
            {% block label %}
            <label class="control-label">{{ field.label_tag }}</label>
            {% endblock label %}
        </div>

        <div class="col col-lg-8">
        {% if field == form.algorithm %}
            <div class="download_algocode_btn">
                <a href="{% url 'algotesting:download_algo' object.pk %}">
                    <button type="button" class="btn btn-link">Download {{ object.filename }}</button>
                </a>
            </div>
            <div class="controls centered">{{ field }}</div>

            {% elif field == form.train_parameters %}
                {% if object.train_parameters %}
                    <a href="{% url 'algotesting:download_params' object.pk %}">
                        <button type="button" class="btn btn-link">Download current train parameters</button>
                    </a>
                {% endif %}
                    <div class="controls ">{{ field }}</div>
        {% else %}
            <div class="controls">{{ field }}</div>
        {% endif %}
        </div>
    </div>
    {% endfor %}

    {% block additional %}
    <div class="centered">
        <button class="btn btn-danger" role="button" data-toggle="modal" data-target="#deleteModal">Delete</button>
            {% include "algotesting/delete_algorithm_modal.html" %}
        <button type ="submit" class="btn btn-success" value="Update">Update</button>
    </div>

    <script type="text/javascript">
    $("#algo1").filestyle({
        input:false,
        buttonText:' Choose new file',
        buttonName: 'btn-default'
    });

    $("#param1").filestyle({
        input:false,
        buttonText : '  Choose parameters',
        buttonName: 'btn-default'
    });
</script>
    {% endblock additional %}
</form>
</div>
