<div class="about-table" style="padding: 10px">
	<table class="table" style="color:#555;" cellspacing="0" cellpadding="0" border="0">

            <tr>
                <td width="250"></td>
			    <td class="frontopolar"><h4><b>Frontopolar</b></h4></td>
			    <td><h4><b>Quantopian</b></h4></td>
			    <td><h4><b>Cloud9trader</b></h4></td>
			    <td><h4><b>Websim</b></h4></td>

		    </tr>
		<tr>
			<td>Ability to upload user data</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
		<tr>
			<td>Ability to download a large number of files in the archive</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
		<tr>
			<td>Providing information on stocks</td>
			<td class="frontopolar"><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-plus"></i></td>
		</tr>
		<tr>
			<td>Handling of minute data</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-plus"></i></td>
            <td><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
		<tr>
			<td>Report generation in defined format</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
		<tr>
			<td>Output error traceback</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-plus"></i></td>
		</tr>
		<tr>
			<td>Ability to change value of commission</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
		<tr>
			<td><h4><b>Machine learning features</b></h4></td>
			<td class="frontopolar"></td><td></td><td></td><td></td>
		</tr>
		<tr>
			<td>Usage of Theano and Lasagne libraries</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
		<tr>
			<td>Training stage</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
		<tr>
			<td>Train/test data splitting</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
		<tr>
			<td>Loading previously trained model</td>
			<td class="frontopolar"><i class="fa fa-plus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
			<td><i class="fa fa-minus"></i></td>
		</tr>
</table>
</div>